body {
    direction: rtl;
    font-family: 'Amiri', serif;
}
:root {
    --main-color: white;
    --sacend-color: #ff8000;
    --sacend-background: #3498db;
    --main-border: 3px solid var(--sacend-background);
    --section-padding: 35px 15px; 
    --size-heding: 30px;
    --text-color: #2c3e51;
    --button-border: 3px solid white;
    --main-shadow: inset 0px 0px 30px 27px #3498db;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.8;
}
a {
    display: block;
    text-decoration: none;
}
ul {
    list-style: none
}
.content {
    padding: 0 10px;
}
header {
    /* max-height: 30px; */
    padding: 12px 10px;
    border-bottom: var(--main-border);
    background-color: var(--sacend-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .toggel {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}
header .toggel span {
    width: 100%;
    margin-bottom: 5px;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
header .logo {
    padding: 0px 10px;
    color: var(--main-color);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

header ul {
    padding: 0;
    background-color: var(--sacend-background);
}
header ul li {
    padding: 20px 0;
    background-color: var(--sacend-background);
    color: var(--main-color);    
    font-weight: bold;
    border-bottom: 3px solid white;
}
section.content {
    padding: var(--section-padding);
    display: none;
}
.content .show-text {
    box-shadow: -2px 1px 17px -7px var(--main-color);
}
.content .show-text h2 {
    text-align: center;
    color: var(--main-color);
    padding: 45px;
    margin-top: 0;
    font-size: var(--size-heding);  
    background-color: var(--sacend-background);
}
.show-text .alzekr {
    padding: 20px 10px 0;
    min-height: 40vh;
}
.show-text .alzekr span {
    color: var(--sacend-color);
    font-size: 20px;
    padding: 0 0 20px;
    display: block;
}
.show-text .alzekr p {
    color: var(--text-color);
    line-height: 2.2;
    font-size: 19px;
    font-weight: bold;
}
.show-text .info-text {
    color: var(--sacend-background);
    font-weight: bold;
    padding: 0 0 10px;
}
.content .clicked {
    margin-top: 15px;
    display: flex;justify-content: space-between;
}
.content .clicked button:nth-child(1) {
    width: 100%;
}
.content .clicked button {
    padding: 15px 0;
    background-color: var(--sacend-background);
    border:  var(--button-border);
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    animation-name: ops;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}
@keyframes ops {
    to {
        opacity: .7;
    }
}
.content .clicked button:hover {
    background-color: white;
    color: var(--sacend-background);
    border: 3px solid var(--sacend-background);
}
.content .clicked button .count-zekr {
    font-size: 18px;
    font-weight: bold;
}
.landing .text {
    margin: 0 0 60px;
    text-align: center;
}
.landing .text h3 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 35px;
}
.landing .text p {
    color: #777;
}
.landing .selcted {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    
}
.landing .selcted button {
    margin: 0 0 30px;
    padding: 20px 0;
    background-color: var(--sacend-background);
    color: var(--main-color);
    font-weight: bold;
    font-size: 22px;
    border: var(--main-border);
}
.landing .selcted button:hover {
    background-color: var(--main-color);
    color: var(--sacend-background);
    border: 3px solid var(--sacend-background);
}

#display-none {
    display: none !important;
}
.display-none {
    display: none !important;
}
#display-block {
    display: block !important;
}
.display-block {
    display: block !important;
}



.count-ast2far .front-data {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.count-ast2far .front-data  p {
    margin: 0;
    padding: 30px 0 35px;
    font-weight: 600;
    font-size: 22px;
}
.count-ast2far .front-data span {
    width: 100px;
    display: block;
    font-size: 29px;
    color: var(--sacend-background);
    border: 3px solid var(--sacend-background);
}
.count-ast2far .back-data h3 {
    margin: 30px 0 0;
    text-align: center;
    padding: 20px 0;
    /* border: 1px solid var(--sacend-background); */
    box-shadow: var(--main-shadow);
    font-size: 34px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.count-ast2far .back-data .cercil-plus {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    background-color: var(--sacend-background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.count-ast2far .back-data .cercil-plus p {
    font-size: 25px;
    color: var(--main-color);
}
.count-ast2far .back-data .restart {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 20px;
    background-color: var(--sacend-color);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.count-ast2far .back-data .restart::before {
    content: 'اعادة ضبط';
    position: absolute;
    top: -70%;
    left: -50%;
    width: 70px;
    padding: 5px 10px;
    cursor: pointer;
}







footer .content {
    display: flex;
    flex-direction: column;
    padding: 0;
}
footer .content .contact {
    max-width: 100%;
}
footer .content .contact p {
    width: fit-content;
    padding: 0 0 10px 10px;
    margin: 0 0 40px;
    display: block;
    border-bottom: var(--main-border);
}
footer .content .contact a {
    display: inline;
    margin: 5px 15px 0;
    border-bottom: 1px solid var(--main-color);
    color: var(--text-color);
}
footer .content .copy {
    margin-top: 25px;
    max-height: 45px;
    padding: 10px 0;
    background-color: var(--sacend-background);
    color: var(--main-color);
    font-weight: bold;
    border-top: var(--main-border);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .content .copy a {
    padding: 0;
    color: var(--main-color);
    font-weight: bold;
}
